/* ----------------------------------------------------
 * Nextflow config file for the BioHPC Genomics Cluster
 * ----------------------------------------------------
 */

env {
  SLURM_CLUSTERS='biohpc_gen'
}

process {
  executor = 'slurm'
  queue = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
}

process {
  withName: 'SAMTOOLS_.*' {
    cpus = { 5 * task.attempt }
    memory = { 4.GB * task.attempt }
    time = { 2.h * task.attempt }
  }
}

process {
  withName: 'SAMTOOLS_SORT' {
    cpus = { 16 * task.attempt }
    memory = { 8.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
}

process {
  withName: 'SAMTOOLS_SPLIT_STRAND' {
    cpus = { 16 * task.attempt }
    memory = { 4.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
}

process {
  withName: 'SAMTOOLS_FASTQ' {
    cpus = { 32 * task.attempt }
    memory = { 8.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
}

process {
  withName: PORECHOP_PORECHOP {
	cpus = {24 * task.attempt }
	memory = { 24.GB * task.attempt }
  time = { 8.h * task.attempt }
  }
}

process {
  withName: 'MODKIT_.*' {
	cpus = {16 * task.attempt }
	memory = { 8.GB * task.attempt }
  time = { 8.h * task.attempt }
  }
}

process {
  withName: DORADO_ALIGNER {
	cpus = {32 * task.attempt }
	memory = { 16.GB * task.attempt }
  time = { 20.h * task.attempt }
  }
}

process {
  withName: MODKIT_BEDGRAPH {
	cpus = {4 * task.attempt }
	memory = { 4.GB * task.attempt }
  time = { 4.h * task.attempt }
  }
}

process {
  withName: PBCPG_BEDGRAPHS {
	cpus = {4 * task.attempt }
	memory = { 4.GB * task.attempt }
  time = { 4.h * task.attempt }
  }
}

process {
  withName: MINIMAP2 {
	cpus = {24 * task.attempt }
	memory = { 16.GB * task.attempt }
  time = { 8.h * task.attempt }
  }
}

process {
  withName: PBMM2_ALIGN {
	cpus = {16 * task.attempt }
	memory = { 36.GB * task.attempt }
  time = { 8.h * task.attempt }
  }
}

process {
  withName: PB_CPG_TOOLS {
	cpus = {8 * task.attempt }
	memory = { 4.GB * task.attempt }
  time = { 5.h * task.attempt }
  }
}