charliecloud {
    enabled   = true
    writeFake = false
}


process {
    
    withName: 'MODKIT_.*' {
        container = "quay.io/biocontainers/ont-modkit:0.4.2--hcdda2d0_0"
    }

    withName: 'DORADO_ALIGNER' {
        container = "https://hub.docker.com/layers/ontresearch/dorado/sha4644018526d3644d92a9e680ab8f2d1eeff2e272/images/sha256-e84931655dc001f75373aa07bc36a91a4a3b20d70da64a772a44c5ccc824a9a4"
    }    


    withName: 'PB_CPG_TOOLS' {
        container = "quay.io/pacbio/pb-cpg-tools:v2.3.2_build3"
    }

}


