/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: SAMTOOLS_SORT {
        ext.args = '-n'
        ext.prefix = { "${meta.id}.sorted" }
    }


    withName: SAMTOOLS_FASTQ {
        ext.args = {
            [
                '-T "*"'
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_${meta.method}" }
    }

    withName: SAMTOOLS_IMPORT {
        ext.args = {
            [
                '-T "*"',
                '--output-fmt bam',
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_after_trim" }
    }

    withName: PORECHOP_PORECHOP {
        ext.args = {
            [
                '--discard_middle',
                '--extra_end_trim 10',
            ].join(' ')
        }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/trim" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }


    withName: MODKIT_REPAIR {
        ext.prefix = { "${meta.id}_repaired" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/repair" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: PBJASMINE {
        ext.args = {
            [
                '--keep-kinetics'
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_modbam" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/modcall" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: CCSMETH_CALLMODS {
        ext.args = {
            [
                '--mode denovo',
                '--model_type attbigru2s'
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_ccsmeth_modbam" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/modcall" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: CCSMETH_CALLFREQB {
        ext.args = {
            [
                '--sort',
                '--bed',
                '--gzip',
                '--call_mode aggregate'
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_ccsmeth_freqb" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/pileup" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: FIBERTOOLSRS_PREDICTM6A {
        ext.prefix = { "${meta.id}_m6a_predicted" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/fiberseq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: FIBERTOOLSRS_ADDNUCLEOSOMES {
        ext.prefix = { "${meta.id}_m6acall" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/fiberseq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: FIBERTOOLSRS_EXTRACT {
        ext.prefix = { "${meta.id}_m6a" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/fiberseq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MODKIT_CALLMODS {
        ext.args = {
            [
                '-p 0.1'
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_callmods" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/modcall" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DORADO_BASECALLER {
        ext.prefix = { "${meta.id}_calls" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/basecall" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DORADO_ALIGNER {
        ext.args = {
            [
                "--output-dir ${meta.id}"
            ]
            .join(' ')
        }
        ext.prefix = { "${meta.id}_aligned" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: SAMTOOLS_FLAGSTAT {
        ext.prefix = { "${meta.id}_${meta.method}" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/alignment/flagstat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MODKIT_PILEUP {
        ext.args = {
            [
                params.all_contexts ? '--motif CHH 0 --motif CHG 0 --motif CG 0' : '--motif CG 0',
                params.m6a ? '--motif A 0' : '',
                '--combine-mods',
                "--log-filepath ${meta.id}_pileup.log",
            ].join(' ')
        }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/pileup" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') {
                    return null
                }
                if (filename.endsWith('.bed')) {
                    return null
                }
                return filename
            },
        ]
    }

    withName: PIGZ_COMPRESS {
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/pileup" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // For Pacbio

    withName: PACBIO_MINIMAP2_ALIGN {
        ext.args = {
            [
                '-y -Y', // -y: Copy input FASTA/Q comments to output.
                '-x map-hifi',
                '--secondary=no',
            ].join(' ')
        }
        ext.args4 = {
            [
                '-T "*"'
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_aligned" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // minimap2 for ONT
    withName: ONT_MINIMAP2_ALIGN {
        ext.args = {
            [
                '-y -Y', // -y: Copy input FASTA/Q comments to output.
                '-x lr:hq',
                '--secondary=no',
            ].join(' ')
        }
        ext.args4 = {
            [
                '-T "*"'
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_aligned" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }


    withName: PBMM2_ALIGN {
        ext.args = {
            [
                '--sort',
                '--preset HiFi',
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_aligned" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: PB_CPG_TOOLS {
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/pileup" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: PBCPG_BEDGRAPHS {
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/bedgraphs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MODKIT_BEDGRAPH {
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/bedgraphs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: CLAIR3 {
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/snvcall" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: GAWK {
        ext.args = { [
            ' \'/^#/ || ($4 != "." && $5 != "." && length($4) == 1 && length($5) == 1 && $7 =="PASS")\' '
        ].join(' ') }
        ext.prefix = { "${meta.id}_SNV_PASS"}
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/snvcall" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: GAWK_FOR_DSS {
        ext.args = { [
            ' \'BEGIN{FS=OFS="\t"; print "chro\tpos\tN\tX"} {print $1,$3,$10,$12}\' '
        ].join(' ') }
        ext.prefix = { "${meta.id}_preprocessed"}
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/dmr_population_scale/dss" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: WHATSHAP_PHASE {
        ext.args = { [
            '--ignore-read-groups',
            '--tag=HP'
        ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/phase" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: WHATSHAP_HAPLOTAG {
        ext.args = { [
            '--ignore-read-groups',
            '--skip-missing-contigs'
        ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/phase" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }


    withName: MODKIT_PILEUP_HAPLOTYPE_LEVEL {
        ext.args = { [
            params.all_contexts ? '--motif CHH 0 --motif CHG 0 --motif CG 0' : '--motif CG 0',
            params.m6a ? '--motif A 0' : '',
            '--combine-strands',
            '--partition-tag HP'
        ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/dmr_haplotype_level/modkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MODKIT_PILEUP_POPULATION_SCALE {
        ext.args = { [
            params.all_contexts ? '--motif CHH 0 --motif CHG 0 --motif CG 0' : '--motif CG 0',
            params.m6a ? '--motif A 0' : '',
            '--combine-strands'
        ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/dmr_population_scale/modkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DMR_HAPLOTYPE_LEVEL {
        ext.args = { [
            '--base C',
            '-f',
            '--header'
        ].join(' ') }
        ext.prefix = { "${meta.id}_modkit_dmr_haplotype_level"}
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/dmr_haplotype_level/modkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DMR_POPULATION_SCALE {
        ext.args = { [
            '--base C',
            '-f',
            '--header'
        ].join(' ') }
        ext.prefix = { "\"${meta.group.first()}&${meta2.group.first()}_modkit_dmr_population_scale\""}
        publishDir = [
            path: { "${params.outdir}/${meta.method.first()}/${meta.group.first()}&${meta2.group.first()}/dmr_population_scale/modkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: TABIX_BGZIPTABIX_1 {
        ext.prefix = { "${meta.id}_1"}
    }

    withName: TABIX_BGZIPTABIX_2 {
        ext.prefix = { "${meta.id}_2"}
    }

    withName: GAWK_1 {
        ext.args = { [
            ' \'BEGIN{FS=OFS="\t"; print "chro\tpos\tN\tX"} {print $1, $3, $10, $12}\' ',
        ].join(' ') }
        ext.prefix = { "${meta.id}_preprocessed_1"}
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/dmr_haplotype_level/dss" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: GAWK_2 {
        ext.args = { [
            ' \'BEGIN{FS=OFS="\t"; print "chro\tpos\tN\tX"} {print $1, $3, $10, $12}\' ',
        ].join(' ') }
        ext.prefix = { "${meta.id}_preprocessed_2"}
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/dmr_haplotype_level/dss" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DSS {
        ext.args = { [
            '--overwrite',
        ].join(' ') }
        ext.prefix = { "${meta.id}_DSS"}
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/dmr_haplotype_level/dss" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DSS_POPULATION_SCALE {
        ext.args = { [
            '--overwrite',
        ].join(' ') }
        ext.prefix = { "dss_population_scale"}
        publishDir = [
            path: { "${params.outdir}/${meta.method.first()}/${meta.group.first()}&${meta2.group.first()}/dmr_population_scale/dss" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: FASTQC {
        cpus = { 12 * task.attempt }
        ext.args = {
            [
                '--format bam'
            ].join(' ')
        }
        ext.prefix = { "${meta.id}_${meta.method}" }
        publishDir = [
            path: { "${params.outdir}/${meta.method}/${meta.id}/fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
