/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running dmr tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/methylong -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'DMR test profile'
    config_profile_description = 'DMR test dataset to check pipeline function'

    input                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/methylong/v2.0.0/test_data/test_samplesheet_dmr.csv'
    outdir                     = './results'
    dmr_population_scale       = true
    dmr_a                      = 'HG002'
    dmr_b                      = 'HG003'

}
