/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/methylong -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {

    withName: FASTQC {
        cpus = { 36 * task.attempt }
        memory = { 48.GB * task.attempt }
    }

    withName: PBMM2_ALIGN {
        cpus = { 24 * task.attempt }
        memory = { 200.GB * task.attempt }
    }

    withName: SAMTOOLS_SORT {
        cpus = { 12 * task.attempt }
        memory = { 36.GB * task.attempt }
    }

    withName: SAMTOOLS_FASTQ {
        cpus = { 12 * task.attempt }
        memory = { 36.GB * task.attempt }
    }

    withName: RENAME_FASTQ {
        cpus = { 6 * task.attempt }
        memory = { 36.GB * task.attempt }
    }

    withName: PORECHOP_PORECHOP {
        cpus = { 3 * task.attempt }
        memory = { 800.GB * task.attempt }
    }

    withName: SAMTOOLS_IMPORT {
        cpus = { 12 * task.attempt }
        memory = { 36.GB * task.attempt }
    }

    withName: DORADO_ALIGNER {
        cpus = { 72 * task.attempt }
        memory = { 300.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
}



params {
    config_profile_name          = 'Full test profile'
    config_profile_description   = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input                        = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/methylong/test_data/full_test_samplesheet.csv'
    outdir                       = './fulltest_results'
    bedgraph                     = true
    no_trim                      = true
    pacbio_aligner               = 'pbmm2'
    pileup_method                = 'pbcpgtools'
    denovo                       = false
    pileup_count                 = false
    reset                        = true

}
